extends layout

block body
  body.loading
    main#main
      nav.nav--flags
        .nav__switch(data-first-lang='EN', data-second-lang='ES')
          if lang == "en"
            input.nav__input#flag(type='checkbox', checked='')
            label.nav__label(for='flag')
          else
            input.nav__input#flag(type='checkbox')
            label.nav__label(for='flag')
      nav.nav--dots
        .nav__list
          a.nav__element.nav__element--current(href='#landing')
          a.nav__element(href='#about')
          a.nav__element(href='#designer')
          a.nav__element(href='#developer')
      section#landing
        ul.parallax
          li.parallax__layer(data-depth='0.20')
            .parallax__content.mac
          li.parallax__layer(data-depth='0.50')
            .parallax__content.book
              .book__content
                h4.book__title #{ __("To-do list") }
                ul.book__list
                  li.book_element - #{ __("Grow a beard") }.
                  li.book_element.book__element--completed - #{ __("Translate content") }.
          li.parallax__layer(data-depth='0.25')
            .parallax__content.cup
          li.parallax__layer(data-depth='0.60')
            .parallax__content.clock
              .clock__content
                .clock__hour
                .clock__minute
                .clock__second
          li.parallax__layer(data-depth='0.99')
            .parallax__content.pen
          li.parallax__layer.visible(data-depth='0.20')
            .invisible-square
          li.parallax__layer(data-depth='0.55')
            .parallax__content.plant
          li.parallax__layer.visible(data-depth='0.00')
            .background
            .background.background--loading
          li.parallax__layer.visible(data-depth='0.20')
            .invisible-square.invisible-square--loading
          li.parallax__layer.visible(data-depth='0.25')
            .top-line
          li.parallax__layer.visible(data-depth='0.28')
            .top-circle.top-circle--loading
          li.parallax__layer.visible(data-depth='0.27')
            .middle-wave
          li.parallax__layer.visible.parallax__layer--main(data-depth='0.15')
            .hero.parallax__no-translate
              h1.hero__title JF.
              - var firstLine = __("Entrepreneur")
              - var secondLine = __("hero_sellry")
              - var thirdLine = __("hero_labelradar")
              h3.hero__subtitle#typer(data-typer-targets=firstLine + ', ' + secondLine + ', ' + thirdLine)
              .modal
                .modal__action
                  button.btn(data-type='modal-trigger', tabindex='2')
                    | #{ __("Contact") }
                  span.modal__bg
                  span.or #{ __("or") }
                  a.underline.underline--active(href="https://linkedin.com/in/ferrerasjuan", target="_BLANK", title="Resume", tabindex='3')
                    | #{ __("Resumé") }
                .modal__container
                  .modal__content
                    form#nl-form.nl-form(action='/', method='post')
                      span #{ __("Hey Juan! My name is ") }
                      .keep-together
                        input#formFullName(type='text', name='name', value='', placeholder='John Doe')
                        span ,
                      br
                      span #{ __("I'm in need of ") }
                      .keep-together
                        select(name='project')
                          option(value='a-website', selected='') #{ __("a website") }
                          option(value='brand-design') #{ __("brand design") }
                          option(value='app-development') #{ __("app development") } 
                          option(value='motion-design') #{ __("motion design") }
                          option(value='graphic-design') #{ __("graphic design") }
                          option(value='something-else') #{ __("something else") }
                        span .
                      br
                      span #{ __("I've got a rough budget of ") }
                      .keep-together
                        select(name='budget')
                          option(value='5000', selected='') < $5000 USD
                          option(value='5000-10000') $5000 - $10000 USD
                          option(value='10000-15000') $10000 - $15000 USD
                          option(value='15000') > $15000 USD
                        span .
                      br
                      span #{ __("Please reach out at") } 
                      .keep-together
                        input#formEmail(type='email', name='email', value='', placeholder='email@domain.com')
                        span .
                      .submit-wrapper
                        #progress-button.progress-button
                          button
                            span.
                              #{ __("Send") }
                          include ../src/img/progress-circle.svg
                          // checkmark to show on success
                          include ../src/img/checkmark.svg
                          // cross to show on error
                          include ../src/img/cross.svg
                        p.formMessage.error#errorValues.
                          #{ __("There's been an error. Did you fill all the fields?") }
                        p.formMessage.error#errorServer.
                          #{ __("There's been an error. Please try again later.") }
                        p.formMessage.success#success.
                          #{ __("Perfect! I'll be in touch soon.") }

                      .nl-overlay
                    #sherlockHolmes
                      .quote
                        q #{ __("The world is full of obvious things which nobody by any chance ever observes.") }
                        | #{ __("— said Sherlock Holmes once. ") } 
                      span#counter 4
                      | #{ __(" times you have visited this section yet you haven't contacted me. If you need any help, please feel free to ") }
                      a.underline(href="mailto:juan@sellry.com")
                        | #{ __("email me.") }
                a.modal__close(href='#')
                  include ../src/img/x.svg
        .scroll-icon
          include ../src/img/mouse.svg
      section#about(data-midnight='nav--black')
        .about__background
        .about
          .about__profile.parallax
            .parallax__layer(data-depth='0.30')
              figure.profile__picture.parallax__no-translate
                img(src="img/profile.jpg")
            .parallax__layer(data-depth='0.50')
              h1.profile__name
                span.profile__firstname #{ __("Juan") }
                span.profile__line
                br
                span.profile__surname #{ __("Ferreras") }
            .parallax__layer(data-depth='0.65')
              .profile__role
                h5 #{ __("job_title") }
                a(href="https://www.sellry.com" target="_BLANK")
                  include ../src/img/sellry.svg
          .about__biography
            h3.biography__title #{ __("WHO THE F!@#?") }
            p.biography__intro 
              | #{ __("biography_intro") }
            .biography__body
              span.biography__line
              .biography__text
                p
                  span.smallcaps #{ __("My background however") }
                  | #{ __("has always been design-driven; ever since I created my first website at the age of 15 I’ve always been excited with the idea of crafting something that people can interact with.") }
                p
                  | #{ __("I went on to study an Information Engineer career because I believe great products are more than just good ideas carefully executed through good design. Software still is and will always be the engine powering them. ") }
                  q #{ __("Great web design without functionality is like a sports car with no engine.") }
                  | #{ __(", said Paul Cookson once.") }
                p
                  | 
                  q #{ __("If it's not breaking you down, it's not building you up.") }
                  |  #{ __("Okay, enough with the quotes. I'm incredibly passionate about what I do, and I feel really excited towards pushing myself to the edge. I think that we grow and develop ourselves as professionals when we are outside our comfort zone.") }
      section#designer(data-midnight='nav--black')
        .split.split--designer
          .container.container--small.container--center
            header
              h1.split__title #{ __("Designer") }
            blockquote
              q
                | #{ __("Good design is obvious. Great design is transparent.") }
              footer
                cite #{ __("Joe Sparano") }
            p
              span.smallcaps #{ __("I'm a multi-disciplinary designer") }
              | #{ __("who is always learning and seeking to improve. Multi-disciplinary allows me to plan like an engineer, create like an artist and think like a customer. My creative curiosity of staying up-to-date allows me to adapt to a rapidly evolving industry without being left behind.") }
            p
              | #{ __("Design really isn't just how it looks; the key to tackle a challenging problem through effective design thinking is to balance between the visual details and the usefulness it provides to the end user.") }
          span.split__ampersand &
      section#developer(data-midnight='nav--black')
        .split.split--developer
          .container.container--small.container--center
            header
              h1.split__title #{ __("Developer") }
            blockquote
              q
                | #{ __("Any fool can write code that a computer can understand. Good programmers write code that humans can understand.") }
              footer
                cite #{ __("Martin Fowler") }
            p
              span.smallcaps #{ __("A brand is only as successful") }
              | #{ __("as its implementation; great products should not be defined by design alone, but also by functionality and great user experience.") }
            p
              | #{ __("However, that's just the tip of the iceberg. Code shouldn't only work, it should be easy to understand, easy to change and fun to work with. Developers need to strive for clean, elegant and efficient code to assure long-term sustainability and keep software's maintainability ―which goes beyond fixing bugs as it includes the need to adapt to a continuously changing environment.") }
          span.split__ampersand &
    footer#footer
      .footer__background#footerBackground
      .footer
        h2.footer__title 
          | #{ __("Say ") }
          span.merriweather #{ __("hi! ") }
        h3.footer__subtitle #{ __("Don't be shy.") }
        p.footer__description 
          | #{ __("You may use the") }
          a.underline(tabindex="-1" href="#0" data-type='modal-trigger-alt') #{ __("contact form ") }
          | #{ __("on the top, or") }
          a.underline(tabindex="-1" href="mailto:juan@sellry.com") #{ __("e-mail me ") }
          | #{ __("directly if that's how you") }
          span.roll#roll #{ __(" roll. ") }
          | #{ __("While you're at it, feel free to") }
          a.underline(tabindex="-1" href="https://linkedin.com/in/ferrerasjuan" target="_BLANK") #{ __("check out my resumé ") }
          | #{ __("to know more about my employment and education history.") }
      .footer__copyright
        .footer__row
          .footer__column.footer__column--left
            p 
              | #{ __("Crafted with") }
              span.heart-icon
                include ../src/img/heart.svg
              | #{ __("by") }
              a(tabindex="-1" href="https://www.flioh.com" target="_BLANK")
                include ../src/img/flioh.svg
          .footer__column
            a.underline.underline--fix(tabindex="-1" href="mailto:juan@sellry.com") juan@sellry.com
          .footer__column.footer__column--right
            p
              | #{ __("Code available on") }
              a.underline(tabindex="-1" href="https://github.com/juanferreras/juanferreras.com" target="_BLANK") Github
      script(src='js/scripts.js?v4')
